.exams-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.return {
  color: black;
}

nz-list-item {
  background-color: white;
}

nz-list {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.create-button {
  text-align: right;
}